In [ ]:
# on importe le package pandas
import pandas as pd

#chargement des données
athletes = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')


#fusion des deux tableaux
data = pd.merge(athletes, noc, how='left', on='NOC')
data.head()

In [ ]:
# on ne garde que les places en podium
data_medals = data.dropna(subset = ['Medal'])
data_medals

In [ ]:
# on calcule le nombre de médailles par sport, par pays
grouped = data_medals.groupby(['NOC','Sport']).size().reset_index(name='podium_count')
grouped

# savoir expliquer pq c'est .size()

In [ ]:
# on sélectionne le sport avec le plus de médailles pour chaque pays
max_podium = grouped.groupby('NOC')['podium_count'].max().reset_index(name="max_podium")
max_podium

     NOC  max_podium
0    AFG           2
1    AHO           1
2    ALG           9
3    ANZ          15
4    ARG          81
..   ...         ...
144  VIE           2
145  WIF           5
146  YUG          84
147  ZAM           1
148  ZIM          15

[149 rows x 2 columns]

In [ ]:
# on calcule le nombre total de médailles/podiums par pays
total_podium = grouped.groupby('NOC')['podium_count'].sum().reset_index(name='total_podium')
total_podium

     NOC  total_podium
0    AFG             2
1    AHO             1
2    ALG            17
3    ANZ            29
4    ARG           274
..   ...           ...
144  VIE             4
145  WIF             5
146  YUG           390
147  ZAM             2
148  ZIM            22

[149 rows x 2 columns]

In [ ]:
#test (à corriger)
print(total_podium.sort_values(by='podium_count', ascending=False).head())

KeyError: 'podium_count'

In [ ]:
#on fusionne dans un tableau
specialisation = pd.merge(max_podium, total_podium, on='NOC')
specialisation

     NOC  max_podium  total_podium
0    AFG           2             2
1    AHO           1             1
2    ALG           9            17
3    ANZ          15            29
4    ARG          81           274
..   ...         ...           ...
144  VIE           2             4
145  WIF           5             5
146  YUG          84           390
147  ZAM           1             2
148  ZIM          15            22

[149 rows x 3 columns]

In [ ]:
# on calcule le ratio de spécialisation de chaque pays. 
specialisation['ratio_specialisation'] = specialisation['max_podium'] / specialisation['total_podium']
specialisation

     NOC  max_podium  total_podium  ratio_specialisation
0    AFG           2             2              1.000000
1    AHO           1             1              1.000000
2    ALG           9            17              0.529412
3    ANZ          15            29              0.517241
4    ARG          81           274              0.295620
..   ...         ...           ...                   ...
144  VIE           2             4              0.500000
145  WIF           5             5              1.000000
146  YUG          84           390              0.215385
147  ZAM           1             2              0.500000
148  ZIM          15            22              0.681818

[149 rows x 4 columns]

In [ ]:
# on affiche les pays avec le plus fort taux de spécialisation
print(specialisation.sort_values(by='ratio_specialisation', ascending = False).head())

     NOC  max_podium  total_podium  ratio_specialisation
0    AFG           2             2              1.000000
1    AHO           1             1              1.000000
16   BOT           1             1              1.000000
10   BAR           1             1              1.000000
11   BDI           2             2              1.000000
..   ...         ...           ...                   ...
139  URS         288          2503              0.115062
22   CHN         109           989              0.110212
49   GER         236          2165              0.109007
40   EUN          30           279              0.107527
112  RUS         103          1165              0.088412

[149 rows x 4 columns]

In [ ]:
# on affiche les pays avec le plus faible taux de spécialisation
print(specialisation.sort_values(by='ratio_specialisation', ascending = True).head(50))

     NOC  max_podium  total_podium  ratio_specialisation
112  RUS         103          1165              0.088412
40   EUN          30           279              0.107527
49   GER         236          2165              0.109007
22   CHN         109           989              0.110212
139  URS         288          2503              0.115062
12   BEL          54           468              0.115385
138  UKR          23           199              0.115578
44   FRG          71           586              0.121160
120  SUI          92           691              0.133140
123  SWE         217          1536              0.141276
105  POL          82           565              0.145133
74   KOR          96           638              0.150470
86   MEX          17           110              0.154545
37   ESP          77           489              0.157464
14   BLR          22           139              0.158273
98   NOR         164          1033              0.158761
46   GBR         338          2068              0.163443
43   FRA         310          1777              0.174451
70   JPN         166           913              0.181818
47   GDR         184          1005              0.183085
31   DEN         111           597              0.185930
141  USA        1080          5637              0.191591
42   FIN         174           900              0.193333
19   BUL          69           342              0.201754
57   HUN         236          1135              0.207930
25   COL           6            28              0.214286
146  YUG          84           390              0.215385
51   GRE          55           255              0.215686
67   ITA         359          1637              0.219304
38   EST          11            50              0.220000
111  RSA          31           131              0.236641
106  POR          10            41              0.243902
94   NED         255          1040              0.245192
116  SLO          12            48              0.250000
85   MDA           2             8              0.250000
129  TJK           1             4              0.250000
7    AUT         114           450              0.253333
107  PRK          17            67              0.253731
78   LAT           9            35              0.257143
20   CAN         348          1352              0.257396
110  ROU         175           653              0.267994
28   CUB         112           409              0.273839
126  TCH         139           488              0.284836
71   KAZ          22            77              0.285714
17   BRA         136           475              0.286316
4    ARG          81           274              0.295620
99   NZL          69           228              0.302632
6    AUS         401          1320              0.303788
27   CRO          46           149              0.308725
30   CZE          45           144              0.312500

On remarque que les USA, bien qu'ils soient en tête du classement des médailles, ont un taux de spécialisation qui n'est pas en haut du classement. Cela signifie peut-être que leur domination n'est pas excellente dans tous les sports. Ce serait bien d'identifier les sports dans lesquels les USA excellent, et ceux dans lesquels ils ne sont pas bons. 

Il serait intéressant de voir le ratio de spécialisation par zone géographique. Je pense que l'Europe aura un ratio de spécialisation plus faible, tandis que l'Afrique aura un ratio de spécialisation plus élevé (dans la course, l'athlétisme).

Introduire une nouvelle métrique. 
Construire un indicateur de performance qui comprendrait en compte deux choses : 
- le taux de spécialisation du pays
- le nombre de médailles

In [ ]:
Si un pays a beaucoup de médailles et qu

On essaie de mettre en lumière différents profils de domination. Certains pays dominent partout, d'autres dominent dans certains sports seulement. 


Le taux de spécilisation en lui-même a des limites :  
on peut penser que si un pays a un faible taux de spécialisation, alors il est particulièrement équilibré et bon. 

Mais si il n'a pas bcp gagné de médailles, ce n'est pas la même chose qu'un pays qui gagne beaucoup de médailles ET qui a un faible taux de spécialisation. 

Le taux de spécialisation il peut être utilisé pour comparer le haut du tableau. Les pays qui sont toujours en haut (Chine, USA, etc). Pour voir si ils sont plutôt bons partout, ou + spécialisés. 


On a une montée en puissance de la Chine aux JOs il me semble. Il serait intéressant d'être capable de le montrer (par exemple l'évolution du classement de la Chine au cours du temps). 

Autre question : la Chine et les USA se partagent la 1ère et la 2nde place. Mais des questions viennent : leurs médailles respectives, ils les ont obtenu dans combien de sports ? et comparer avec une sorte de map visuelle les sports dans lesquels les Chinois ont eu leur médailles et ceux pour les américains. Pour voir en gros si ils se canibalisent (si il y a )



Classement du nombre de médailles d'argent, d'or, de bronze à la dernière édition des J0.


est-ce qu'il y a une corrélation entre le fait de gagner, le fait de gagner beaucoup (ou non) et le fait d'avoir une grande longévité sportive ? donc de faire plusieurs éditions des JO ? 
est-ce que les athlètes qui sont les meilleurs dans leur sport (ceux avec le plus de médailles) sont ceux qui particient au plus de JO ? 
quelle est la moyenne du nb de d'éditions des JO jouées par les sportifs ? 


how can you show the Chinese domination in tennis table ? 







Si un pays a beaucoup de médailles et qu'il a un faible taux de spécialsiation, cela veut dire qu'il est bon dans beaucoup de sports.