In [2]:
import pandas as pd

# petit exo, créer un DataFrame

df = pd.DataFrame({
    'Pays' : ['FRANCE','United States','ENGlAND'],
    'NOC' : ['FRA','USA','ENG'], 
    'PIB' : ['30€','2€','9€']
        }
)

df

            Pays  NOC  PIB
0         FRANCE  FRA  30€
1  United States  USA   2€
2        ENGlAND  ENG   9€

In [ ]:
df.loc[1,'NOC'] = '40€'

In [23]:
df

            Pays  NOC  PIB  wesh  super
0         FRANCE  FRA  30€     0    0.1
1  United States  40€   2€   666    0.4
2        ENGlAND  ENG   9€     0    0.5

In [10]:
df['wesh'] = 0

In [12]:
df.loc[1,'wesh'] = 666

In [19]:
df['super'] = [0.1, 0.4, 0.5]