In [ ]:
groupby country
compte le nombre de médailles
on fait un nouveau dataframe ne contenant que les pays ayant aucune médaille

In [5]:
import pandas as pd


df = pd.read_csv("athlete_events.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [9]:
country = df.groupby('NOC').count("Medals")

TypeError: GroupBy.count() takes 1 positional argument but 2 were given

In [7]:
country

In [12]:
import pandas as pd

# Charger les jeux de données
athlete_df = pd.read_csv('athlete_events.csv')
noc_df = pd.read_csv('noc_regions.csv')

In [16]:
# Tous les codes NOC
all_nocs = set(noc_df['NOC'])

In [17]:
# Codes NOC ayant au moins une médaille (colonne 'Medal' non nulle)
medal_nocs = set(athlete_df.loc[athlete_df['Medal'].notna(), 'NOC'])

In [18]:
# Codes NOC sans aucune médaille
no_medal_nocs = all_nocs - medal_nocs

In [21]:
# Filtrer la liste des NOC sans médailles et afficher leur nom de région
no_medal_df = noc_df[noc_df['NOC'].isin(no_medal_nocs)][['NOC', 'region', 'notes']].reset_index(drop=True)

In [22]:
# Afficher le résultat à l'utilisateur
import ace_tools as tools; tools.display_dataframe_to_user("Pays sans médailles olympiques", no_medal_df)

ModuleNotFoundError: No module named 'ace_tools'

In [25]:
output_path = 'noc_sans_medaille.csv'
no_medal_df.to_csv(output_path, index=False,encoding='utf-8-sig')
print(f"Liste des pays/régions sans médaille enregistrée dans : {output_path}\n")

Liste des pays/régions sans médaille enregistrée dans : noc_sans_medaille.csv

In [26]:
print(no_medal_df)

    NOC         region                notes
0   ALB        Albania                  NaN
1   AND        Andorra                  NaN
2   ANG         Angola                  NaN
3   ANT        Antigua  Antigua and Barbuda
4   ARU          Aruba                  NaN
..  ...            ...                  ...
77  VIN  Saint Vincent                  NaN
78  VNM        Vietnam                  NaN
79  YAR          Yemen          North Yemen
80  YEM          Yemen                  NaN
81  YMD          Yemen          South Yemen

[82 rows x 3 columns]

In [28]:
for i in df['region']:
    print(region[i])

KeyError: 'region'

In [31]:
print(no_medal_df.to_string(index=False))

NOC                           region                    notes
ALB                          Albania                      NaN
AND                          Andorra                      NaN
ANG                           Angola                      NaN
ANT                          Antigua      Antigua and Barbuda
ARU                            Aruba                      NaN
ASA                   American Samoa                      NaN
BAN                       Bangladesh                      NaN
BEN                            Benin                      NaN
BHU                           Bhutan                      NaN
BIH           Bosnia and Herzegovina                      NaN
BIZ                           Belize                      NaN
BOL                           Boliva                      NaN
BRU                           Brunei                      NaN
BUR                     Burkina Faso                      NaN
CAF         Central African Republic                      NaN
CAM                         Cambodia                      NaN
CAY                   Cayman Islands                      NaN
CGO                Republic of Congo                      NaN
CHA                             Chad                      NaN
COD Democratic Republic of the Congo                      NaN
COK                     Cook Islands                      NaN
COM                          Comoros                      NaN
CPV                       Cape Verde                      NaN
CRT                           Greece                    Crete
DMA                         Dominica                      NaN
ESA                      El Salvador                      NaN
FSM                       Micronesia                      NaN
GAM                           Gambia                      NaN
GBS                    Guinea-Bissau                      NaN
GEQ                Equatorial Guinea                      NaN
GUI                           Guinea                      NaN
GUM                             Guam                      NaN
HON                         Honduras                      NaN
IVB          Virgin Islands, British                      NaN
KIR                         Kiribati                      NaN
LAO                             Laos                      NaN
LBA                            Libya                      NaN
LBR                          Liberia                      NaN
LCA                      Saint Lucia                      NaN
LES                          Lesotho                      NaN
MAD                       Madagascar                      NaN
MAL                         Malaysia                      NaN
MAW                           Malawi                      NaN
MDV                         Maldives                      NaN
MHL                 Marshall Islands                      NaN
MLI                             Mali                      NaN
MLT                            Malta                      NaN
MTN                       Mauritania                      NaN
MYA                          Myanmar                      NaN
NBO                         Malaysia             North Borneo
NCA                        Nicaragua                      NaN
NFL                           Canada             Newfoundland
NRU                            Nauru                      NaN
OMA                             Oman                      NaN
PLE                        Palestine                      NaN
PLW                            Palau                      NaN
PNG                 Papua New Guinea                      NaN
RHO                         Zimbabwe                      NaN
ROT                              NaN     Refugee Olympic Team
RWA                           Rwanda                      NaN
SAA                          Germany                      NaN
SAM                            Samoa                      NaN
SEY                       Seychelles                      NaN
SIN                        Singapore                      NaN
SKN                      Saint Kitts Turks and Caicos Islands
SLE                     Sierra Leone                      NaN
SMR                       San Marino                      NaN
SOL                  Solomon Islands                      NaN
SOM                          Somalia                      NaN
SSD                      South Sudan                      NaN
STP            Sao Tome and Principe                      NaN
SWZ                        Swaziland                      NaN
TKM                     Turkmenistan                      NaN
TLS                      Timor-Leste                      NaN
TUV                              NaN                   Tuvalu
UNK                              NaN                  Unknown
VAN                          Vanuatu                      NaN
VIN                    Saint Vincent                      NaN
VNM                          Vietnam                      NaN
YAR                            Yemen              North Yemen
YEM                            Yemen                      NaN
YMD                            Yemen              South Yemen

In [32]:
import pandas as pd

# Afficher toutes les lignes
pd.set_option('display.max_rows', None)

# (Éventuellement aussi pour les colonnes)
pd.set_option('display.max_columns', None)

# Ton code de chargement / filtrage…
# ...

print(no_medal_df)

    NOC                            region                     notes
0   ALB                           Albania                       NaN
1   AND                           Andorra                       NaN
2   ANG                            Angola                       NaN
3   ANT                           Antigua       Antigua and Barbuda
4   ARU                             Aruba                       NaN
5   ASA                    American Samoa                       NaN
6   BAN                        Bangladesh                       NaN
7   BEN                             Benin                       NaN
8   BHU                            Bhutan                       NaN
9   BIH            Bosnia and Herzegovina                       NaN
10  BIZ                            Belize                       NaN
11  BOL                            Boliva                       NaN
12  BRU                            Brunei                       NaN
13  BUR                      Burkina Faso                       NaN
14  CAF          Central African Republic                       NaN
15  CAM                          Cambodia                       NaN
16  CAY                    Cayman Islands                       NaN
17  CGO                 Republic of Congo                       NaN
18  CHA                              Chad                       NaN
19  COD  Democratic Republic of the Congo                       NaN
20  COK                      Cook Islands                       NaN
21  COM                           Comoros                       NaN
22  CPV                        Cape Verde                       NaN
23  CRT                            Greece                     Crete
24  DMA                          Dominica                       NaN
25  ESA                       El Salvador                       NaN
26  FSM                        Micronesia                       NaN
27  GAM                            Gambia                       NaN
28  GBS                     Guinea-Bissau                       NaN
29  GEQ                 Equatorial Guinea                       NaN
30  GUI                            Guinea                       NaN
31  GUM                              Guam                       NaN
32  HON                          Honduras                       NaN
33  IVB           Virgin Islands, British                       NaN
34  KIR                          Kiribati                       NaN
35  LAO                              Laos                       NaN
36  LBA                             Libya                       NaN
37  LBR                           Liberia                       NaN
38  LCA                       Saint Lucia                       NaN
39  LES                           Lesotho                       NaN
40  MAD                        Madagascar                       NaN
41  MAL                          Malaysia                       NaN
42  MAW                            Malawi                       NaN
43  MDV                          Maldives                       NaN
44  MHL                  Marshall Islands                       NaN
45  MLI                              Mali                       NaN
46  MLT                             Malta                       NaN
47  MTN                        Mauritania                       NaN
48  MYA                           Myanmar                       NaN
49  NBO                          Malaysia              North Borneo
50  NCA                         Nicaragua                       NaN
51  NFL                            Canada              Newfoundland
52  NRU                             Nauru                       NaN
53  OMA                              Oman                       NaN
54  PLE                         Palestine                       NaN
55  PLW                             Palau                       NaN
56  PNG                  Papua New Guinea                       NaN
57  RHO                          Zimbabwe                       NaN
58  ROT                               NaN      Refugee Olympic Team
59  RWA                            Rwanda                       NaN
60  SAA                           Germany                       NaN
61  SAM                             Samoa                       NaN
62  SEY                        Seychelles                       NaN
63  SIN                         Singapore                       NaN
64  SKN                       Saint Kitts  Turks and Caicos Islands
65  SLE                      Sierra Leone                       NaN
66  SMR                        San Marino                       NaN
67  SOL                   Solomon Islands                       NaN
68  SOM                           Somalia                       NaN
69  SSD                       South Sudan                       NaN
70  STP             Sao Tome and Principe                       NaN
71  SWZ                         Swaziland                       NaN
72  TKM                      Turkmenistan                       NaN
73  TLS                       Timor-Leste                       NaN
74  TUV                               NaN                    Tuvalu
75  UNK                               NaN                   Unknown
76  VAN                           Vanuatu                       NaN
77  VIN                     Saint Vincent                       NaN
78  VNM                           Vietnam                       NaN
79  YAR                             Yemen               North Yemen
80  YEM                             Yemen                       NaN
81  YMD                             Yemen               South Yemen

In [33]:
regions_df = no_medal_df[['region']]

In [34]:
regions_df

                              region
0                            Albania
1                            Andorra
2                             Angola
3                            Antigua
4                              Aruba
5                     American Samoa
6                         Bangladesh
7                              Benin
8                             Bhutan
9             Bosnia and Herzegovina
10                            Belize
11                            Boliva
12                            Brunei
13                      Burkina Faso
14          Central African Republic
15                          Cambodia
16                    Cayman Islands
17                 Republic of Congo
18                              Chad
19  Democratic Republic of the Congo
20                      Cook Islands
21                           Comoros
22                        Cape Verde
23                            Greece
24                          Dominica
25                       El Salvador
26                        Micronesia
27                            Gambia
28                     Guinea-Bissau
29                 Equatorial Guinea
30                            Guinea
31                              Guam
32                          Honduras
33           Virgin Islands, British
34                          Kiribati
35                              Laos
36                             Libya
37                           Liberia
38                       Saint Lucia
39                           Lesotho
40                        Madagascar
41                          Malaysia
42                            Malawi
43                          Maldives
44                  Marshall Islands
45                              Mali
46                             Malta
47                        Mauritania
48                           Myanmar
49                          Malaysia
50                         Nicaragua
51                            Canada
52                             Nauru
53                              Oman
54                         Palestine
55                             Palau
56                  Papua New Guinea
57                          Zimbabwe
58                               NaN
59                            Rwanda
60                           Germany
61                             Samoa
62                        Seychelles
63                         Singapore
64                       Saint Kitts
65                      Sierra Leone
66                        San Marino
67                   Solomon Islands
68                           Somalia
69                       South Sudan
70             Sao Tome and Principe
71                         Swaziland
72                      Turkmenistan
73                       Timor-Leste
74                               NaN
75                               NaN
76                           Vanuatu
77                     Saint Vincent
78                           Vietnam
79                             Yemen
80                             Yemen
81                             Yemen

In [35]:
output_path = 'regions_sans_medaille.csv'
regions_df.to_csv(output_path, index=False, encoding='utf-8-sig')

In [36]:
print(f"Export terminé : {output_path}")

Export terminé : regions_sans_medaille.csv