on ne doit pas compter plusieurs fois les médailles dans les sports collectifs (une médaille pour le basket, on ne compte pas les médailles de toute l’équipe)
donc faut identifier si il y a le mm type de médaille médailles pour un seul sport - une seule édition, grouper et

chatGPT : Cela passe par un groupby ou un drop_duplicates sur les colonnes qui définissent une médaille unique (pays + épreuve + édition + type de médaille)

In [22]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [ ]:
china = medals[medals['NOC'] == 'CHN']

# goupby Team, Games, Event
china_unique = china.drop_duplicates(subset=['Team', 'Games', 'Event','Medal'])
china_unique.head(20)

medals_by_year = china_unique.groupby('Year').size()

# Maintenant pour les pays en général

In [10]:
# now for countries
import pandas as pd

df = pd.read_csv("athlete_events.csv")

# on enlève les médailles = NA
medals = df[df['Medal'].notna()]

# on enlève les doublons (par exemple, si une équipe de foot a gagné l'or, ça fait 1 médaille et pas 11)
without_doublons = medals.drop_duplicates(subset=['Team','Games','Event'])

# on groupby (NOC,Year) et on somme 
noc_and_year = without_doublons.groupby(['Year','NOC']).size().reset_index(name="Count")

# on compte le nombre totale de médailles par pays (toutes éditions)
all_time = noc_and_year.groupby('NOC')['Count'].sum().reset_index(name="all time count")
all_time

     NOC  all time count
0    AFG               2
1    AHO               1
2    ALG              17
3    ANZ              11
4    ARG              74
..   ...             ...
144  VIE               4
145  WIF               2
146  YUG              87
147  ZAM               2
148  ZIM               8

[149 rows x 2 columns]

In [ ]:
['Team', 'Games', 'Event', 'Medal']

In [11]:
sorted_desc = all_time.sort_values(by="all time count", ascending = False )
sorted_desc

     NOC  all time count
141  USA            2144
139  URS             997
49   GER             917
46   GBR             819
43   FRA             783
..   ...             ...
88   MKD               1
92   MRI               1
130  TOG               1
119  SUD               1
127  TGA               1

[149 rows x 2 columns]

In [21]:
df = pd.read_csv("athlete_events.csv")
medals_2 = df[df['Medal'].notna()]
without_doublons_2 = medals_2.drop_duplicates(subset=['Games', 'Event', 'Medal'])
test2 = without_doublons_2.groupby('NOC').size().reset_index(name="Count")
print(test2.sort_values(by="Count", ascending=False))

     NOC  Count
138  USA   2779
136  URS   1155
48   GER    973
45   GBR    890
42   FRA    848
..   ...    ...
116  SUD      1
127  TOG      1
124  TGA      1
132  UAE      1
144  ZAM      1

[146 rows x 2 columns]