on ne doit pas compter plusieurs fois les médailles dans les sports collectifs (une médaille pour le basket, on ne compte pas les médailles de toute l’équipe)
donc faut identifier si il y a le mm type de médaille médailles pour un seul sport - une seule édition, grouper et

chatGPT : Cela passe par un groupby ou un drop_duplicates sur les colonnes qui définissent une médaille unique (pays + épreuve + édition + type de médaille)

In [1]:
df

NameError: name 'df' is not defined

In [ ]:
china = medals[medals['NOC'] == 'CHN']

# goupby Team, Games, Event
china_unique = china.drop_duplicates(subset=['Team', 'Games', 'Event','Medal'])
china_unique.head(20)

medals_by_year = china_unique.groupby('Year').size()

# Maintenant pour les pays en général

In [ ]:
# now for countries
import pandas as pd

df = pd.read_csv("athlete_events.csv")

# on enlève les médailles = NA
medals = df[df['Medal'].notna()]

# on enlève les doublons (par exemple, si une équipe de foot a gagné l'or, ça fait 1 médaille et pas 11)
without_doublons = medals.drop_duplicates(subset=['Team','Games','Event'])

# on groupby (NOC,Year) et on somme 
noc_and_year = without_doublons.groupby(['Year','NOC']).size().reset_index(name="Count")

# on compte le nombre totale de médailles par pays (toutes éditions)
all_time = noc_and_year.groupby('NOC')['Count'].sum().reset_index(name="all time count")
all_time

     NOC  all time count
0    AFG               2
1    AHO               1
2    ALG              17
3    ANZ              11
4    ARG              74
..   ...             ...
144  VIE               4
145  WIF               2
146  YUG              87
147  ZAM               2
148  ZIM               8

[149 rows x 2 columns]

In [ ]:
['Team', 'Games', 'Event', 'Medal']

In [ ]:
sorted_desc = all_time.sort_values(by="all time count", ascending = False )
sorted_desc

     NOC  all time count
141  USA            2144
139  URS             997
49   GER             917
46   GBR             819
43   FRA             783
..   ...             ...
88   MKD               1
92   MRI               1
130  TOG               1
119  SUD               1
127  TGA               1

[149 rows x 2 columns]

In [3]:
import pandas as pd
df = pd.read_csv("athlete_events.csv")
medals_2 = df[df['Medal'].notna()]
without_doublons_2 = medals_2.drop_duplicates(subset=['Games', 'Event', 'Medal'])
test2 = without_doublons_2.groupby('NOC').size().reset_index(name="Count")
print(test2.sort_values(by="Count", ascending=False)).head(30)

     NOC  Count
138  USA   2779
136  URS   1155
48   GER    973
45   GBR    890
42   FRA    848
..   ...    ...
116  SUD      1
127  TOG      1
124  TGA      1
132  UAE      1
144  ZAM      1

[146 rows x 2 columns]

AttributeError: 'NoneType' object has no attribute 'head'