In [ ]:
# on va créer un nouveau ratio + efficace


performance = total_medailles * [1 - ratio_specialisation]

In [ ]:
# indice de Shannon 
# indice de Simpson

In [1]:
import pandas as pd
import numpy as np   # <— NÉCESSAIRE pour np.log

# 1. Charger les données
athletes = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')

# 2. Fusionner et ne garder que les lignes avec médailles
data = pd.merge(athletes, noc, on='NOC', how='left')
data_medals = data.dropna(subset=['Medal'])

# 3. Nombre de médailles par pays et sport
grouped = (
    data_medals
    .groupby(['NOC','Sport'])
    .size()
    .reset_index(name='podium_count')
)

# 4. Total de médailles par pays
totals = grouped.groupby('NOC')['podium_count']\
                .sum()\
                .rename('total_medals')

# 5. Calculer la proportion p_i de chaque sport i
df = grouped.join(totals, on='NOC')
df['p'] = df['podium_count'] / df['total_medals']

# 6. Calcul de l’entropie (indice de Shannon) par pays
shannon = (
    df
    .assign(entropy = lambda d: -d['p'] * np.log(d['p']))
    .groupby('NOC')['entropy']
    .sum()
    .rename('H_shannon')
)

# 7. Normalisation (optionnelle) : H_norm = H / ln(S), avec S = nombre de sports différents
sports_count = grouped.groupby('NOC')['Sport']\
                      .nunique()\
                      .rename('S')
shannon_norm = (
    pd.concat([shannon, sports_count], axis=1)
      .assign(H_norm = lambda d: d['H_shannon'] / np.log(d['S']))
      .reset_index()[['NOC','H_norm']]
)

# 8. Merge dans ton DataFrame final (avec region)
specialisation = (
    pd.merge(
      grouped.groupby('NOC')['podium_count'].max().rename('max_podium'),
      totals.reset_index(),
      on='NOC'
    )
    .merge(shannon_norm, on='NOC', how='left')
    .merge(noc[['NOC','region']], on='NOC', how='left')
)

# 9. Renommer et réorganiser
specialisation['ratio_specialisation'] = specialisation['max_podium'] / specialisation['total_medals']
specialisation = specialisation[[
    'region','max_podium','total_medals','ratio_specialisation','H_norm'
]]
specialisation.rename(columns={'region':'Pays'}, inplace=True)

# 10. Afficher un aperçu
print(specialisation.head())

          Pays  max_podium  total_medals  ratio_specialisation    H_norm
0  Afghanistan           2             2              1.000000       NaN
1      Curacao           1             1              1.000000       NaN
2      Algeria           9            17              0.529412  0.870229
3    Australia          15            29              0.517241  0.656772
4    Argentina          81           274              0.295620  0.733777

In [7]:
pd.reset_option("display.max_rows")

In [12]:
pd.set_option("display.max_rows", None)

In [8]:
specialisation

            Pays  max_podium  total_medals  ratio_specialisation    H_norm
0    Afghanistan           2             2              1.000000       NaN
1        Curacao           1             1              1.000000       NaN
2        Algeria           9            17              0.529412  0.870229
3      Australia          15            29              0.517241  0.656772
4      Argentina          81           274              0.295620  0.733777
..           ...         ...           ...                   ...       ...
144      Vietnam           2             4              0.500000  0.946395
145     Trinidad           5             5              1.000000       NaN
146       Serbia          84           390              0.215385  0.751113
147       Zambia           1             2              0.500000  1.000000
148     Zimbabwe          15            22              0.681818  0.902393

[149 rows x 5 columns]

In [13]:
a = specialisation.sort_values(
    by=['ratio_specialisation'],
    ascending = False)
a

,Pays,max_podium,total_medals,ratio_specialisation,H_norm
0,Afghanistan,2,2,1.000000,NaN
1,Curacao,1,1,1.000000,NaN
16,Botswana,1,1,1.000000,NaN
10,Barbados,1,1,1.000000,NaN
11,Burundi,2,2,1.000000,NaN
18,Bahrain,3,3,1.000000,NaN
13,Bermuda,1,1,1.000000,NaN
60,Individual Olympic Athletes,5,5,1.000000,NaN
63,Iraq,1,1,1.000000,NaN
66,"Virgin Islands, US",1,1,1.000000,NaN
80,Liechtenstein,9,9,1.000000,NaN
75,Kosovo,1,1,1.000000,NaN
45,Gabon,1,1,1.000000,NaN
39,Ethiopia,53,53,1.000000,NaN
41,Fiji,13,13,1.000000,NaN
52,Grenada,2,2,1.000000,NaN
34,Ecuador,2,2,1.000000,NaN
29,Cyprus,1,1,1.000000,NaN
32,Djibouti,1,1,1.000000,NaN
36,Eritrea,1,1,1.000000,NaN
26,Costa Rica,4,4,1.000000,NaN
118,Sri Lanka,2,2,1.000000,NaN
119,Sudan,1,1,1.000000,NaN
145,Trinidad,5,5,1.000000,NaN
125,Tanzania,2,2,1.000000,NaN
127,Tonga,1,1,1.000000,NaN
130,Togo,1,1,1.000000,NaN
114,Senegal,1,1,1.000000,NaN
102,Paraguay,17,17,1.000000,NaN
101,Panama,3,3,1.000000,NaN
95,Nepal,1,1,1.000000,NaN
93,Namibia,4,4,1.000000,NaN
92,Mauritius,1,1,1.000000,NaN
89,Montenegro,14,14,1.000000,NaN
90,Monaco,1,1,1.000000,NaN
54,Guyana,1,1,1.000000,NaN
53,Guatemala,1,1,1.000000,NaN
69,Jordan,1,1,1.000000,NaN
77,Kuwait,2,2,1.000000,NaN
121,Suriname,2,2,1.000000,NaN
88,Macedonia,1,1,1.000000,NaN
91,Mozambique,2,2,1.000000,NaN
68,Jamaica,156,157,0.993631,0.055622
100,Pakistan,119,121,0.983471,0.087074
72,Kenya,99,106,0.933962,0.350960
9,Bahamas,36,40,0.900000,0.468996
59,India,173,197,0.878173,0.272377
132,Trinidad,28,32,0.875000,0.406933
50,Ghana,20,23,0.869565,0.558629
76,Saudi Arabia,5,6,0.833333,0.650022
83,Morocco,19,23,0.826087,0.666578
64,Iceland,14,17,0.823529,0.526414
24,Cameroon,18,22,0.818182,0.546295
103,Peru,12,15,0.800000,0.721928
115,NaN,7,9,0.777778,0.622366
84,Malaysia,12,16,0.750000,0.639824
79,Lebanon,3,4,0.750000,0.811278
55,Haiti,5,7,0.714286,0.724834
58,Indonesia,28,41,0.682927,0.724485
148,Zimbabwe,15,22,0.681818,0.902393
122,Slovakia,32,47,0.680851,0.563518
73,Kyrgyzstan,2,3,0.666667,0.918296
108,Puerto Rico,6,9,0.666667,0.723308
23,Ivory Coast,2,3,0.666667,0.918296
134,Turkey,63,95,0.663158,0.634346
61,Iran,43,68,0.632353,0.662130
109,Qatar,3,5,0.600000,0.864974
81,Lithuania,35,61,0.573770,0.641915
137,Uganda,4,7,0.571429,0.985228
48,Georgia,18,32,0.562500,0.712519
65,Israel,5,9,0.555556,0.852792
21,Chile,17,32,0.531250,0.775502
2,Algeria,9,17,0.529412,0.870229
8,Azerbaijan,23,44,0.522727,0.750167
3,Australia,15,29,0.517241,0.656772
96,Nigeria,50,99,0.505051,0.604444
144,Vietnam,2,4,0.500000,0.946395
5,Armenia,8,16,0.500000,0.802405
15,Czech Republic,6,12,0.500000,0.835989
56,China,2,4,0.500000,0.946395
147,Zambia,1,2,0.500000,1.000000
97,Niger,1,2,0.500000,1.000000
104,Philippines,5,10,0.500000,0.880482
136,Syria,1,2,0.500000,1.000000
135,United Arab Emirates,1,2,0.500000,1.000000
140,Uruguay,31,63,0.492063,0.666111
128,Thailand,14,30,0.466667,0.930419
117,Serbia,39,85,0.458824,0.636090
62,Ireland,16,35,0.457143,0.819331
33,Dominican Republic,3,7,0.428571,0.982141
142,Uzbekistan,14,34,0.411765,0.743234
131,Taiwan,20,49,0.408163,0.853862
35,Egypt,11,27,0.407407,0.845181
143,Venezuela,6,15,0.400000,0.868746
113,Serbia,25,64,0.390625,0.881579
133,Tunisia,5,13,0.384615,0.885036
82,Luxembourg,3,8,0.375000,0.952820
87,Mongolia,9,26,0.346154,0.923666
124,Syria,1,3,0.333333,1.000000
30,Czech Republic,45,144,0.312500,0.772561
27,Croatia,46,149,0.308725,0.741024
6,Australia,401,1320,0.303788,0.706309
99,New Zealand,69,228,0.302632,0.797517
4,Argentina,81,274,0.295620,0.733777
17,Brazil,136,475,0.286316,0.758191
71,Kazakhstan,22,77,0.285714,0.762156
126,Czech Republic,139,488,0.284836,0.784653
28,Cuba,112,409,0.273839,0.774438
110,Romania,175,653,0.267994,0.777654
20,Canada,348,1352,0.257396,0.753436
78,Latvia,9,35,0.257143,0.900519
107,North Korea,17,67,0.253731,0.883090
7,Austria,114,450,0.253333,0.829018
116,Slovenia,12,48,0.250000,0.899463
129,Tajikistan,1,4,0.250000,1.000000
85,Moldova,2,8,0.250000,0.969022
94,Netherlands,255,1040,0.245192,0.766155
106,Portugal,10,41,0.243902,0.844148
111,South Africa,31,131,0.236641,0.849520
38,Estonia,11,50,0.220000,0.916542
67,Italy,359,1637,0.219304,0.805347
51,Greece,55,255,0.215686,0.873524
146,Serbia,84,390,0.215385,0.751113
25,Colombia,6,28,0.214286,0.915094
57,Hungary,236,1135,0.207930,0.804445
19,Bulgaria,69,342,0.201754,0.858008
42,Finland,174,900,0.193333,0.772520
141,USA,1080,5637,0.191591,0.757737
31,Denmark,111,597,0.185930,0.818541
47,Germany,184,1005,0.183085,0.830382
70,Japan,166,913,0.181818,0.776879
43,France,310,1777,0.174451,0.825515
46,UK,338,2068,0.163443,0.795215
98,Norway,164,1033,0.158761,0.805809
14,Belarus,22,139,0.158273,0.859993
37,Spain,77,489,0.157464,0.806756
86,Mexico,17,110,0.154545,0.848772
74,South Korea,96,638,0.150470,0.880826
105,Poland,82,565,0.145133,0.865917
123,Sweden,217,1536,0.141276,0.831357
120,Switzerland,92,691,0.133140,0.822878
44,Germany,71,586,0.121160,0.864450
138,Ukraine,23,199,0.115578,0.939860
12,Belgium,54,468,0.115385,0.881216
139,Russia,288,2503,0.115062,0.878316
22,China,109,989,0.110212,0.873831
49,Germany,236,2165,0.109007,0.854888
40,Russia,30,279,0.107527,0.901391
112,Russia,103,1165,0.088412,0.896351