In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [4]:
specialisation = pd.read_csv("specialisation.csv", sep=";")

In [10]:
noc_regions = pd.read_csv("noc_regions.csv")

In [17]:
pd.set_option('display.max_rows', False)

test = specialisation.merge(noc_regions,
left_on = 'Country',
right_on = 'region',
how = 'left')

test

,Country,max_podium,total_podium,ratio_specialisation,NOC,region,notes
0,Afghanistan,2,2,1.000000,AFG,Afghanistan,NaN
1,Curacao,1,1,1.000000,AHO,Curacao,Netherlands Antilles
2,Algeria,9,17,0.529412,ALG,Algeria,NaN
3,Australia,15,29,0.517241,ANZ,Australia,Australasia
4,Australia,15,29,0.517241,AUS,Australia,NaN
5,Argentina,81,274,0.295620,ARG,Argentina,NaN
6,Armenia,8,16,0.500000,ARM,Armenia,NaN
7,Australia,401,1320,0.303788,ANZ,Australia,Australasia
8,Australia,401,1320,0.303788,AUS,Australia,NaN
...,...,...,...,...,...,...,...
183,Vietnam,2,4,0.500000,VNM,Vietnam,NaN
184,Trinidad,5,5,1.000000,TTO,Trinidad,Trinidad and Tobago
185,Trinidad,5,5,1.000000,WIF,Trinidad,West Indies Federation
186,Serbia,84,390,0.215385,SCG,Serbia,Serbia and Montenegro
187,Serbia,84,390,0.215385,SRB,Serbia,NaN
188,Serbia,84,390,0.215385,YUG,Serbia,Yugoslavia
189,Zambia,1,2,0.500000,ZAM,Zambia,NaN
190,Zimbabwe,15,22,0.681818,RHO,Zimbabwe,NaN
191,Zimbabwe,15,22,0.681818,ZIM,Zimbabwe,NaN

In [5]:
specialisation

         Country  max_podium  total_podium  ratio_specialisation
0    Afghanistan           2             2              1.000000
1        Curacao           1             1              1.000000
2        Algeria           9            17              0.529412
3      Australia          15            29              0.517241
4      Argentina          81           274              0.295620
..           ...         ...           ...                   ...
144      Vietnam           2             4              0.500000
145     Trinidad           5             5              1.000000
146       Serbia          84           390              0.215385
147       Zambia           1             2              0.500000
148     Zimbabwe          15            22              0.681818

[149 rows x 4 columns]

In [ ]:
specialisation['region_corr'] = specialisation['Country'].replace(mapping)

KeyError: 'region'

reste à gérer : 
* pour la liste des pays qu'on ne trouve pas dans le noc_regions.  
* Pour les pays sans médailles

In [ ]:
url = "https://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_countries.zip"
world = gpd.read_file(url)

In [ ]:
# on va merge les deux dataframes


merged = world.merge(specialisation,
left_on = 'SOVEREIGNT',
right_on = 'region',
how = 'left')

# ici je possède un dictionnaire de correspondances
# clé = region, valeur = SOVEREIGNT

{'USA': 'United States of America',
 'Trinidad': 'Trinidad and Tobago',
 'Serbia': 'Republic of Serbia',
 'Tanzania': 'United Republic of Tanzania',
 'UK': 'United Kingdom',
 'Bahamas': 'The Bahamas',
 'Macedonia': 'North Macedonia',
 'Czech Republic': 'Czechia'}

In [ ]:
# appliquer ce mapping à ton dataframe specialisation


specialisation['SU_A3'] = specialisation['NOC'].map(mapping_noc_to_sov3)

reste à gérer : 
* pour la liste des pays ("SOVEREIGNT" ou "SOV_A3") qui ne correspondent à rien dans noc_regions (dans "NOC" ou "region")
* Pour les pays sans médailles