In [ ]:
# on importe le package
import pandas as pd

# on charge les données
athletes = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')

# fusion des deux tableaux
data = pd.merge(athletes, noc, how='left', on='NOC')

# on ne garde que les places avec médailles
data_medals = data.dropna(subset = ['Medal'])

# on calcule le nombre de médailles par sport, par pays
grouped = data_medals.groupby(['NOC','Sport']).size().reset_index(name='podium_count')

# on sélectionne le sport avec le plus de médailles pour chaque pays
max_podium = grouped.groupby('NOC')['podium_count'].max().reset_index(name="max_podium")

# on calcule le nombre total de médailles par pays
total_podium = grouped.groupby('NOC')['podium_count'].sum().reset_index(name='total_podium')

#on fusionne dans un tableau
specialisation = pd.merge(max_podium, total_podium, on='NOC')

# on calcule le ratio de spécialisation de chaque pays. 
specialisation['ratio_specialisation'] = specialisation['max_podium'] / specialisation['total_podium']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [ ]:
# pour afficher les pays avec le plus fort taux de spécialisation
print(specialisation.sort_values(by='ratio_specialisation', ascending = False))

Rq : ETH a 53 médailles au total, toutes gagnées dans un seul sport

In [10]:
# on affiche les pays avec le plus faible taux de spécialisation
spe_asc = specialisation.sort_values(by='ratio_specialisation', ascending = True)
spe_asc

     NOC  max_podium  total_podium  ratio_specialisation
112  RUS         103          1165              0.088412
40   EUN          30           279              0.107527
49   GER         236          2165              0.109007
22   CHN         109           989              0.110212
139  URS         288          2503              0.115062
..   ...         ...           ...                   ...
77   KUW           2             2              1.000000
75   KOS           1             1              1.000000
66   ISV           1             1              1.000000
130  TOG           1             1              1.000000
145  WIF           5             5              1.000000

[149 rows x 4 columns]

## observation 1
il pourrait être intéressant de diviser en 10 groupes 
regroupant les pays selon la valeur de leur taux de spécialisation
de 0,01 à 0,1
de 0,1 à 0,2
etc

et de voir géographiquement si ils sont situés proches.

## obvservation 2

il serait intéressant aussi de prend les pays en haut du classement et de voir la valeiur de leur taux de spécialisation.

On remarque que les USA, bien qu'ils soient en tête du classement des médailles, ont un taux de spécialisation qui n'est pas en haut du classement. Cela signifie peut-être que leur domination ne se fait pas dans tous les sports. Ce serait bien d'identifier les sports dans lesquels les USA excellent, et ceux dans lesquels ils ne sont pas bons. 

Il serait intéressant de voir le ratio de spécialisation par zone géographique. Je pense que l'Europe aura un ratio de spécialisation plus faible, tandis que l'Afrique aura un ratio de spécialisation plus élevé (dans la course, l'athlétisme).

# obs 3

afficher par nombre de podiums totaux classés décroissant le ratio de spécialisation

In [11]:
tab2 = specialisation.sort_values(by='total_podium', ascending = False)
print(tab2[['NOC', 'total_podium', 'ratio_specialisation' ]].head(30))

     NOC  total_podium  ratio_specialisation
141  USA          5637              0.191591
139  URS          2503              0.115062
49   GER          2165              0.109007
46   GBR          2068              0.163443
43   FRA          1777              0.174451
67   ITA          1637              0.219304
123  SWE          1536              0.141276
20   CAN          1352              0.257396
6    AUS          1320              0.303788
112  RUS          1165              0.088412
57   HUN          1135              0.207930
94   NED          1040              0.245192
98   NOR          1033              0.158761
47   GDR          1005              0.183085
22   CHN           989              0.110212
70   JPN           913              0.181818
42   FIN           900              0.193333
120  SUI           691              0.133140
110  ROU           653              0.267994
74   KOR           638              0.150470
31   DEN           597              0.185930
44   FRG           586              0.121160
105  POL           565              0.145133
37   ESP           489              0.157464
126  TCH           488              0.284836
17   BRA           475              0.286316
12   BEL           468              0.115385
7    AUT           450              0.253333
28   CUB           409              0.273839
146  YUG           390              0.215385

In [12]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)